body {
    margin: 50px 0 150px;
    font-family: "Noto Sans", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
}

.navbar-conf {
    display: flex;
    gap: 15px;
    align-items: center;
}

.table {
    gap: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}

.header {
    font-weight: 500;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    height: 50px;
    border-radius: 4px;
}

.table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    height: 40px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 18px;
}

.table-wrapper table td:first-child {
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-gap: 10px;
    text-align: left;
}

.container {
    width: 80%;
    margin: 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.container div:last-child {
    grid-column: span 2;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .container div:last-child {
        grid-column: span 1;
    }
}